attrs
blis
certifi
chardet
cymem
docx2txt
idna
jsonschema
murmurhash
nltk
numpy
pandas
pdfminer.six
plac
preshed
pycryptodome
pyrsistent
python-dateutil
pytz
requests
six
sortedcontainers
spacy
srsly
textract
thinc
tqdm
urllib3
wasabi
